<div class="container">
  <div class="row center">
  <%= image_tag("signup.png") %>
  </div>
  <div class="row small col s4 m4">
    <%= form_for @user do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "validate"%>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
      <%= f.label :email_address %>
      <%= f.text_field :email_address %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Create Account", class:"btn yellow darken-4" %>
    <% end %>
  </div>
</div>

