<div class="container">
  <div class="row">
  </div>
  <div class="row center">
    <div class="col s10 offset-s1">
      <div class="card-panel dashboard-card">
        <span class="white-text">
          <%= link_to "Add an Auction Item", new_item_path %>
        </span>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row center">
    <%= image_tag("donations.png") %>
  </div>
  <div class="row">
    <% if current_user.items.active.any? %>
      <% current_user.items.active.each do |item| %>
        <%= render partial: 'shared/item_card', locals: {item: item} %>
      <% end %>
  </div>
<% else %>
  <p class="center">You haven't added any donations yet</p>
<% end %>

<div class="row center">
  <%= image_tag("fave.png") %>
</div>
<% if @upvoted.any? %>
  <div class="row">
    <% @upvoted.each do |item| %>
      <%= render partial: 'shared/item_card', locals: {item: item} %>
    <% end %>
  </div>
<% else %>
  <p class="center">You don't have any favorites yet.</p>
<% end %>
</div>
