<div class="container">
  <div class="row">
  </div>
  <div class="row center">
    <%= link_to "Add an Auction Item", new_item_path, class:"btn" %>
  </div>
</div>


<div class="container">
  <div class="row center">
    <%= image_tag("donations.png") %>
  </div>
  <div class="row">
    <% if current_user.items.active.any? %>
      <% current_user.items.active.each do |item| %>
        <%= render partial: 'shared/item_card', locals: {item: item} %>
      <% end %>
  </div>
<% else %>
  <p class="center">You haven't added any donations yet</p>
<% end %>

<div class="row center">
  <%= image_tag("upvotes.png") %>
</div>
<% if @upvoted.any? %>
  <div class="row">
    <% @upvoted.each do |item| %>
      <%= render partial: 'shared/item_card', locals: {item: item} %>
    <% end %>
  </div>
<% else %>
  <p class="center">You haven't upvoted any items yet</p>
<% end %>
</div>
