<h1 class="center">Auction Items</h1>
<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="card medium col m4">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag("sample.jpg", class:"activator") %>
        </div>
        <div class="card-content">
          <i class="material-icons activator right">more_vert</i>
          <span class="card-title grey-text text-darken-4"><%= item.name %></span>
          <p><a href="#">More details</a></p>
        </div>
        <div class="card-action">
          <a href="#"><%= item.upvotes %></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= item.name %><i class="material-icons right">close</i></span>
          <p><%= item.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
