<div class="container">
  <div class="row show-top">
    <%= link_to "Go Back", back_path %>
  </div>
  <div class="row">
    <div class="card">
    </div>
  </div>
  <div class="col s12 m7">
    <h2 class="header"><%= @item.name %></h2>
    <div class="card horizontal">
      <div class="card-image">
        <%= image_tag(@item.image.url) %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><strong>Retail Value:</strong> $<%= @item.retail_value %></p>
          <p><em><%= @item.description %></em></p>
          <p><strong>Business Name:</strong> <%= @item.business_name %></p>
          <% if admin? %>
            <%= render partial: "shared/admin_item_show", locals: {item: @item} %>
          <% end %>
        </div>
        <div class="card-action">
          <span>
            <%= render partial: "shared/upvote", locals: {item: @item} %>
            <% if editable(current_user, @item) %>
              <%= render partial: 'shared/item_card_edit', locals: {item: @item} %>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
