<ul id="dropdown1" class="dropdown-content">
          <%= link_to "Add Donation for User", new_admin_item_path %>
          <%= link_to "View Users", admin_users_path %>
          <%= link_to "View Active Donations", admin_active_index_path %>
          <%= link_to "View Archived Donations", admin_archived_index_path %>
</ul>
<nav>
	<div class="nav-wrapper">
		<%= link_to image_tag("sprout.png"), root_path, class: "brand-logo", width:
  "120px" %>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
        <li class="nav-italic">Hi, <%= current_user.first_name.capitalize %></li>
      <% end %>
			<li><%= link_to "Browse", browse_path %></li>
			<% if current_user %>
        <% if current_user.admin? %>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Admin
          Dashboard<i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
        <li><%= link_to "Dashboard", dashboard_path(current_user) %>
				<li><%= link_to "Logout", logout_path %></li>
      <% else %>
				<li><%= link_to "Login", login_path %></li>
			<% end %>
		</ul>
	</div>
</nav>
