<!DOCTYPE html>
<html>
  <head>
    <title>Auction</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% unless params[:controller] == "home" && params[:action] == "show" %>
        <%= render partial: "layouts/navbar" %>
      <% end %>
    </header>
    <main>
    <% if flash[:notice] %>
      <div class="container">
        <div class="card-panel z-depth-1 success"><%= flash[:notice] %></div>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="container">
        <div class="card-panel z-depth-1 form-error"><%= flash[:error] %></div>
      </div>
    <% end %>
    <%= yield %>
    </main>
    <footer class="page-footer">
      <%= render partial: "layouts/footer" %>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="http://listjs.com/assets/javascripts/list.min.js"></script>
  </body>
</html>
